<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".infj_description"/>
        <activity android:name=".enfj_description"/>
        <activity android:name=".enfp_description"/>
        <activity android:name=".entj_description"/>
        <activity android:name=".entp_description"/>
        <activity android:name=".esfj_description"/>
        <activity android:name=".esfp_description"/>
        <activity android:name=".estp_description"/>
        <activity android:name=".estj_description"/>
        <activity android:name=".intj_description"/>
        <activity android:name=".infp_description"/>
        <activity android:name=".intp_description"/>
        <activity android:name=".isfj_description"/>
        <activity android:name=".isfp_description"/>
        <activity android:name=".istj_description"/>
        <activity android:name=".istp_description"/>
        <activity android:name=".test"/>


    </application>

</manifest>